body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  background: linear-gradient(to right, #00bcd4, #2196f3);
  color: white;
  padding: 20px 0;
  margin: 0;
}

form {
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
  margin: 20px auto;
  width: 80%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  transition: border-color 0.3s;
  outline: none;
}

form input:focus {
  border-color: #2196f3;
}

button {
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #00bcd4;
}

table {
  border-collapse: collapse;
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
}

th,
td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: center;
}

th {
  background: linear-gradient(to bottom, #00bcd4, #2196f3);
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
